h1,
.heading-1,
h2,
.heading-2,
h3,
.heading-3,
h4,
.heading-4,
h5,
.heading-5 h6,
.heading-6 {
  @include font(pla, reg);
  margin: 0 0 2.5rem 0;
  text-transform: initial;
  color: map-get($colors, dgray);
  clear: both;
  line-height: 1.1;
}

h1,
.heading-1 {
  @include font-size(5.6);
  line-height: 1;
  margin-bottom: 2.5rem;
}

h2,
.heading-3 {
  @include font-size(5.2);
}

h3,
.heading-3 {
  @include font-size(2.8);
}

h4,
.heading-4 {
  @include font-size(2.2);
}

h5,
.heading-5 {
  @include font-size(2);
}

h6,
.heading-6 {
  @include font-size(1.8);
}
