.page-content .pagination {
	text-align: center;
	margin: 2rem 0 0 0;
	a,
	a:visited,
	span {
		background-color: rgba(40, 28, 60, 0.08);
		display: inline-block;
		padding: 6px 12px 7px 12px;
		font-size: 15px;
		line-height: 20px;
		@include font(rbt, med, weight);
		color: map-get($map: $colors, $key: black);
		@include border-radius(5px);
		border-bottom: 0;
		margin: 0 5px;
		&:hover {
			background-color: rgba(40, 28, 60, 0.2);
			color: map-get($map: $colors, $key: black);
		}
	}
	span.current {
		background-color: map-get($map: $colors, $key: black);
		color: map-get($map: $colors, $key: white);
	}
}
