@media (min-width: 1024px) {
  .header-nav ul li:hover > ul {
    opacity: 1;
    visibility: visible;
    overflow: visible;
  }

  .header-nav ul ul {
    animation-delay: 0.6s;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    @include transition(all, 0.3s, ease-in-out);
  }
}
.header-flex {
  display: flex;
  margin-top: 28px;
}
.header-nav {
  line-height: 1;

  ul {
    margin: 0;
    padding: 0;
    position: relative;

    li {
      margin: 0 2.5rem 0 0;
      padding: 0;
      display: inline-block;
      position: relative;
      line-height: 1;
      text-transform: uppercase;
      @include font(gs, sbold);
      font-size: 1.4rem;
      &:last-child {
        margin: 0 0 0 1rem;
        a,
        a:visited {
          background-color: map-get($map: $colors, $key: Aqua-f);
          color: map-get($map: $colors, $key: white);
          padding: 15px 27px 14px 26px;
          @include border-radius(5px);
          &:hover {
            color: map-get($map: $colors, $key: white);
            background-color: map-get($map: $colors, $key: blackhvr);
          }
          &:after {
            display: none;
          }
        }
      }

      a,
      a:visited {
        padding: 0 0 10px 0;
        display: inline-block;
        line-height: 1;
        border: 0;
        position: relative;
        color: map-get($colors, black);
        letter-spacing: 0.08em;

        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: map-get($colors, black);
          opacity: 0.8;
          transform: scaleX(0);
          transform-origin: bottom right;
          transition: transform 0.3s;
        }
      }
      &.active {
        a {
          color: map-get($colors, green);
          &:after {
            transform-origin: bottom left;
            transform: scaleX(1);
          }
        }
      }
      a:hover {
        border: 0;
        color: map-get($colors, black);

        &:after {
          transform-origin: bottom left;
          transform: scaleX(1);
        }
      }
    }

    ul {
      opacity: 0;
      box-shadow: 0px 30px 60px rgba(18, 27, 32, 0.15);
      visibility: hidden;
      padding: 26px;
      @include border-radius(12px);
      position: absolute;
      top: 35px;
      left: -115px;
      z-index: 9;
      background-color: map-get($colors, white);
      overflow: hidden;
      background-color: map-get($colors, white);
      text-align: left;
      @include transition(all, 0.4s, ease-in-out);
      text-align: left;
      width: 300px;

      &:before {
        content: "";
        width: 1px;
        height: 17px;
        position: absolute;
        top: -10px;
        left: 0px;
        right: 0;
        margin: auto;
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-bottom: 14px solid #ffffff;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }

      li {
        display: block;
        margin: 0 0 24px 0;

        &:last-child {
          margin: 0;
          a,
          a:visited {
            background-color: transparent;
            padding: initial;
            border-radius: 0;
            color: map-get($map: $colors, $key: black);
            &:hover {
              color: map-get($map: $colors, $key: green);
              background-color: transparent;
            }
          }
        }

        a,
        a:visited {
          font-size: 16px;
          padding: 0 !important;
          display: block;
          line-height: 1.4;
          display: block;
          box-sizing: border-box;
          position: relative;
          color: map-get($colors, dgray);
          @include transition(all, 0.3s, ease-in-out);
          @include font(gs, reg, weight);

          &:after {
            display: none;
          }
        }

        a:hover {
          color: map-get($colors, green);
        }

        &.current-menu-item > a,
        &.current-menu-parent > a {
          border-bottom: none;
        }
      }

      ul {
        top: -10px;
        left: 220px;

        &:before {
          display: none;
          content: "";
          width: 1px;
          height: 1px;
          position: absolute;
          top: 12px;
          left: -5px;
          margin: auto;
          border-left: none;
          border-top: 3px solid transparent;
          border-bottom: 3px solid transparent;
          border-right: 4px solid map-get($colors, white);
        }
      }
    }
  }
}
